{% extends 'base.html.twig' %}

{% block body %}
<h3>Edition de l'article {{ article.title }}</h3>
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button class="btn" type="submit">Editer</button>
    {{ form_end(form) }}
{% endblock %}