{% extends 'base.html.twig' %}

{% block body %}
<ul>
    {% for article in articles %}
        <li>{{ article.id }} - {{ article.title }} <a href="{{ path('app_back_article_edit', { id: article.id }) }}">Modifier</a></li>
    {% endfor %}
</ul>
{% endblock %}