{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button class="btn" type="submit">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}