{% extends 'base.html.twig' %}

{% block body %}
    <h3>Article : {{ article.title }}</h3>

    <p>Tags</p> <br>
    {% for tag in article.tags %}
        {{ tag.name }} -
    {% endfor %}
    <a href="{{ path('app_back_article_delete', {'id': article.id, '_token': csrf_token('delete-item') }) }}">Supprimer cet article</a>
{% endblock %}